/*------------------ global styling------------------
#####################################################*/

body {
  background: #fff;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.7rem;
  color: $body-textColor;
}

p {
  font-size: 1rem;
}

.middleSection section p:last-child {
  margin-bottom: 0;
}


hr {
  margin-bottom: 1.5em;
}


/* navigation styles */

ul.sidelinks {
  list-style-type: none;
  padding: 0;
  a {
    display: block;
  }
}

a:hover {
  text-decoration: none;
}

.leftSection a {
  color: $left_sidebar-linkColor;
  &:hover {
    color: $left_sidebar-linkColor-hovered;
  }
}

.middleSection nav a {
  font-size: 2rem;
  color: inherit;
  &:hover {
    color: red;
  }
}

.rightSection [class^="aside-"] a {
  color: $right_sidebar-linkColor;
  &:hover {
    color: $right_sidebar-linkColor-hovered;
  }
  &:visited {
    color: $right_sidebar-linkColor-hovered;
  }
}


/* images styling */

.brand-logo {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.logo {
  @include logo-margins();
}

.cardib img {
  width: 100%;
  margin: 3em 0;
}

@import "section_styles";