/*--------------------- media queries ------------------------
############################################################*/

@media screen and (min-width: 1700px) {
  body {
    background: #1B1C1B;
  }
  .site-wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }
  .leftSection {
    position: static;
  }
  .flexWrapper {
    flex: 2;
    .middleSection {
      flex: 4;
      margin: 0;
    }
    .rightSection {
      flex: 1;
    }
  }
}

@media screen and (max-width: 1257px) { //TODO: Finish creating responsive styles for smaller screens
  .leftSection {
    background: red;
  }
}

// TODO: Apply better flex and grid styles