/*------------------ global styling ------------------
#####################################################*/

body {
  background: #fff;
}

.leftSection {
  background: $sidebar-background-color;
}

.middleSection header,
.middleSection main,
.rightSection {
  background: $interface-mainColor;
}

.sidelinks {
  list-style-type: none;
  padding: 0;
}

.new_sect {
  background: coral;
}