/*------------------ global styling ------------------
#####################################################*/
body {
  background: #fff;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.7rem;
}

p {
  font-size: 1.12rem;
}

h2 {
  font-size: 1.8rem;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

hr {
  margin-bottom: 1.5em;
}

/* navigation styles */

.middleSection nav a {
  font-size: 2rem;
  color: inherit;
  &:hover {
    color: red;
  }
}

/* images styling */

.brand-logo {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.logo {
  margin: 1em 0 4em;  
}

@import "section_styles";