/*--------------------- layout ------------------------
#####################################################*/

.site-wrapper {
  max-width: 1700px;
  width: 100%;
}

.flexWrapper {
  display: flex;
  flex-flow: row wrap;
}

.leftSection {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 285px;
  width: 15%;
}

.middleSection {
  margin-left: 15%;
  flex: 4;
  overflow: auto;
}

.rightSection {
  flex: 1;
  padding-top: 0.5rem; // matches bootstrap link top padding
}

.leftSection,
.middleSection,
.rightSection {
  height: 100vh;
}

@import "media_queries";