/*--------------------- layout ------------------------
#####################################################*/

.wrapper {
  max-width: 1915px;
}

.flexWrapper {
  display: flex;
  flex-flow: row wrap;
}

.leftSection {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 285px;
  width: 15%;
  height: 100vh;
}

.middleSection {
  margin-left: 15%;
  flex: 4;
  height: 100vh;
  overflow: auto;
}

.rightSection {
  flex: 1;
  padding-top: 0.5rem; // matches bootstrap link top padding
}


/*--------------------- media queries ------------------------
############################################################*/

@media screen and (min-width: 1915px) {
  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }
  .flexWrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 2;
  }
  .leftSection {
    position: static;
    background: green;
    height: 100vh;
  }
  .middleSection {
    flex: 4;
    margin: 0;
  }
  .rightSection {
    flex: 1;
  }
}