/* general section styles */
header {
  height: 100px;
  max-height: 100px;
}

ul.sidelinks {
  list-style-type: none;
  padding: 0;
}

.leftSection li, .rightSection li {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.leftSection h2, .rightSection h2 {
  margin-bottom: .65em;
}

.middleSection,
.middleSection header,
.middleSection main {
  background: $interface-mainColor;
}

.rightSection {
  background: $right_sidebar-backgroundColor;
}

.leftSection .logo~div,
.rightSection aside div {
  margin-bottom: 4em;
}


/* left section styles */

.leftSection {
  padding-left: 1.1em;
  background: $left_sidebar-backgroundColor;
  color: $left_sidebar-textColor;
  h2 {
    color: $left_sidebar-headerColor;
  }
  hr {
    background-color: lighten($left_sidebar-backgroundColor, 6%);
  }
}

