/* Colors */

$brand-mainColor: lightgray; // dark red
$lightgray: #f0f1f3;

// interface colors

$body-textColor: #464646;

$interface-mainColor: #fff;
$left_sidebar-backgroundColor: #1b1c1b;
$left_sidebar-headerColor: #3db03d;
$left_sidebar-textColor: $lightgray;
$left_sidebar-linkColor: $lightgray;
$left_sidebar-linkColor-hovered: lighten($left_sidebar-headerColor, 20%);


$right_sidebar-linkColor: #EC7E2B;
$right_sidebar-linkColor-hovered: #b33b24;
$right_sidebar-backgroundColor: $lightgray;

// Width, height, margin & padding values

$interface-topPadding: 140px;

// Text

$font-main: "Libre Franklin";
$font-stack: $font-main,
Arial,
sans-serif;
@mixin logo-margins($top:2em, $bottom: ($top + 1)) {
  margin: $top 0 $bottom;
}