// Colors
$brand-mainColor: lightgray; // dark red

    // interface colors
$interface-mainColor: #fff;

    // left sidebar colors
$left_sidebar-backgroundColor: #1b1c1b;
$left_sidebar-textColor: #3db03d;
$left_sidebar-linkColor: pink;

// Width, height, margin & padding values
$interface-topPadding: 140px;

// Text
$font-main: "Karla";
$font-stack: $font-main, Arial, sans-serif;